 <%@num=0%>
   <%loop do%>
     <%@num+=1%>
       <%if @num%2==0%>
         <h2><%=@num%> Soy Par!</h2>
       <%else%>
         <h2><%=@num%> Soy Impar!</h2>
       <%end%>
     <%break if @num>=50%>
   <%end%>


 <!-- <%(1...51).each do |num|%>
  <h2><%="#{num} Soy Par!" if num.even?%></h2>
  <h2><%="#{num} Soy Impar!"if num.odd?%></h2>
<%end%> -->
